// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  position: relative;
  min-height:100vh;
}

// Navbar
nav img {
  height: 2em;
}

// Footer position
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(30,30,30);
  color: white;
}

h1 {
  font-weight: bolder;
}

h2 {
  font-weight: bold;
}

i {
  font-size: .9em;
  margin-right: 5px;
}

.btn {
  font-weight: bold;
}

.big-badge {
  font-size: 16px;
  text-transform: uppercase;
}

// List with badges style
.list-group p {
  margin-bottom: 0;
}
.list-group-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  &:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  &:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
}

// Restaurants list
.restaurant-list p {
  font-weight: bold;
}
.restaurant-list p span {
  font-weight: normal;
  opacity: .7;
}

// Reviews list
.reviews {
  padding-bottom:200px;
}
.review {
  background-color: #F2F2F2;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
}
.review a {
  color: #808080;
  &:hover {
    color: #C12020;
  }
}

// Stars in Restaurant Show
.index-stars {
  font-size: 12px;
}
.stars {
  font-size: 24px;
  color: #C12020;
}

// Tags
.restaurant-tag {
  font-weight: bold;
  color: #C12020;
  margin-right: 5px
}